# Python Bootcamp Project 24-25: Customer Segmentation

In [4]:
# allows for multiple outputs in one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Data Import

In [6]:
import pandas as pd

data = pd.read_excel('Airlift Data.xlsx')
print('******************************************** COLUMNS OF DATASET *****************************************************')
data.columns
print('******************************************** PREVIEW OF FIRST 5 COLUMNS ********************************************')
data.head()
print('******************************************** PREVIEW OF LAST 5 COLUMNS ********************************************')
data.tail()
print('******************************************* NUMBER OF ROWS AND DATA TYPES ******************************************')
data.info()
print('************************************************ DESCRIPTION OF DATA  **********************************************')
data.describe()

******************************************** COLUMNS OF DATASET *****************************************************

Index(['sku', 'category', 'name', 'quantity_sold', 'revenue', 'unique_orders',
       'group', 'subcategory', 'total_orders', 'total_revenue', 'days',
       'daily_sales'],
      dtype='object')

******************************************** PREVIEW OF FIRST 5 COLUMNS ********************************************

,sku,category,name,quantity_sold,revenue,unique_orders,group,subcategory,total_orders,total_revenue,days,daily_sales
0,pot_1kg,Vegetables,Potatoes 1Kg,790,39570.0,298,Fruits and Vegetables,Vegetables,3702,3909982,8,98.750
1,oni_1kg,Vegetables,Onions 1kg,575,20125.0,217,Fruits and Vegetables,Vegetables,3702,3909982,8,71.875
2,olp_mil_1p5,Milk & Tea Whiteners,Olpers Milk 1.5L,439,95263.0,164,Dairy & Eggs,Milk,3702,3909982,8,54.875
3,che_red_fla_hot_31g,Crisps & Snacks,Cheetos Red Flamin Hot 30gm,387,7740.0,119,"Snacks, Sweets & Chocolates",Crisps,3702,3909982,8,48.375
4,ban_1_doz,Fruits,Banana 1 Dozen,370,64535.0,322,Fruits and Vegetables,Fruits,3702,3909982,8,46.250

******************************************** PREVIEW OF LAST 5 COLUMNS ********************************************

,sku,category,name,quantity_sold,revenue,unique_orders,group,subcategory,total_orders,total_revenue,days,daily_sales
8201,kit_sen_duo_tas_del_coc_58g,Chocolates & Sweets,Kitkat Senses Duo Taste Deluxe Coconut 58gm,0,0.0,1,"Snacks, Sweets & Chocolates",Mints & Chewing Gum,6648,7274763,8,0.0
8202,pel_not_76_76,Office & Schools,Pelikan Notes 76mmx76mm,0,0.0,1,Stationery & Gifts,Notebooks & Memos,6648,7274763,8,0.0
8203,joh_bab_pow_for_dry_ski_100,Baby Skin & Hair Care,Johnson's Baby Powder For Dry Skin 100gm,0,0.0,1,Mother & Baby,Baby Moisturizers & Powders,6648,7274763,8,0.0
8204,coo_dre_cre_str_&_van_bis_tic_pac_24_pac,Biscuits & Wafers,Cookiania Dream Cream Strawberry & Vanilla Bis...,0,0.0,1,"Snacks, Sweets & Chocolates",Biscuits & Cookies,6648,7274763,8,0.0
8205,mar_pas_qee_mac_250,Noodles & Pasta,Marios Pasta Qeema Macaroni 250gm,0,0.0,1,Cooking Essentials,Pasta,6648,7274763,8,0.0

******************************************* NUMBER OF ROWS AND DATA TYPES ******************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8206 entries, 0 to 8205
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sku            8206 non-null   object
 1   category       8200 non-null   object
 2   name           8206 non-null   object
 3   quantity_sold  8206 non-null   int64
 4   revenue        8206 non-null   float64
 5   unique_orders  8206 non-null   int64
 6   group          8200 non-null   object
 7   subcategory    8200 non-null   object
 8   total_orders   8206 non-null   int64
 9   total_revenue  8206 non-null   int64
 10  days           8206 non-null   int64
 11  daily_sales    8206 non-null   float64
dtypes: float64(2), int64(5), object(5)
memory usage: 769.4+ KB
************************************************ DESCRIPTION OF DATA  **********************************************

,quantity_sold,revenue,unique_orders,total_orders,total_revenue,days,daily_sales
count,8206.000000,8206.000000,8206.000000,8206.000000,8.206000e+03,8206.0,8206.000000
mean,15.767853,2121.515751,9.792103,5138.338777,5.428968e+06,8.0,1.970982
std,50.755773,5462.238104,24.891426,1227.768808,1.445288e+06,0.0,6.344472
min,0.000000,0.000000,1.000000,3702.000000,3.909982e+06,8.0,0.000000
25%,2.000000,330.000000,2.000000,3702.000000,3.909982e+06,8.0,0.250000
50%,4.000000,748.500000,4.000000,4808.000000,4.799126e+06,8.0,0.500000
75%,10.000000,1803.000000,8.000000,6648.000000,7.274763e+06,8.0,1.250000
max,1766.000000,162316.000000,535.000000,6648.000000,7.274763e+06,8.0,220.750000

## Data Cleaning

In [7]:
data.duplicated(data, keep='first')

0       False
1       False
2       False
3       False
4       False
        ...
8201    False
8202    False
8203    False
8204    False
8205    False
Length: 8206, dtype: bool